In [2]:
import pandas as pd
import quantstats as qs

In [3]:
dados = pd.read_csv('dados_empresas.csv')
dados

,data,ticker,preco_fechamento_ajustado,volume_negociado,ebit_ev,roic
0,2016-12-31,AALR3,14.45,5375545.0,0.08785,0.05890
1,2017-01-31,AALR3,13.75,3116406.0,0.09044,0.05890
2,2017-02-28,AALR3,12.56,3077805.0,0.09519,0.05890
3,2017-03-31,AALR3,15.41,3141709.0,0.04781,0.05517
4,2017-04-30,AALR3,18.32,6444929.0,0.04118,0.05517
...,...,...,...,...,...,...
34825,2023-02-28,ZAMP3,4.81,3507640.0,0.03987,0.02483
34826,2023-03-31,ZAMP3,4.65,2745735.0,0.05451,0.03526
34827,2023-04-30,ZAMP3,4.20,4243398.0,0.05860,0.03526
34828,2023-05-31,ZAMP3,3.81,4414483.0,0.05600,0.03131
34829,2023-06-30,ZAMP3,4.55,17615157.0,0.04998,0.03131

In [5]:
dados = dados[dados['volume_negociado'] > 1000000]

In [7]:
dados['retorno'] = dados.groupby('ticker')['preco_fechamento_ajustado'].pct_change()
dados

,data,ticker,preco_fechamento_ajustado,volume_negociado,ebit_ev,roic,retorno
0,2016-12-31,AALR3,14.45,5375545.0,0.08785,0.05890,NaN
1,2017-01-31,AALR3,13.75,3116406.0,0.09044,0.05890,-0.048443
2,2017-02-28,AALR3,12.56,3077805.0,0.09519,0.05890,-0.086545
3,2017-03-31,AALR3,15.41,3141709.0,0.04781,0.05517,0.226911
4,2017-04-30,AALR3,18.32,6444929.0,0.04118,0.05517,0.188838
...,...,...,...,...,...,...,...
34825,2023-02-28,ZAMP3,4.81,3507640.0,0.03987,0.02483,-0.117431
34826,2023-03-31,ZAMP3,4.65,2745735.0,0.05451,0.03526,-0.033264
34827,2023-04-30,ZAMP3,4.20,4243398.0,0.05860,0.03526,-0.096774
34828,2023-05-31,ZAMP3,3.81,4414483.0,0.05600,0.03131,-0.092857
34829,2023-06-30,ZAMP3,4.55,17615157.0,0.04998,0.03131,0.194226